<h2>Edit a Historical Figure</h2>
<p>views/figures/edit.erb</p>
<a class="button" href="/">Home</a>
<hr>
<br>
<h2>Edit <%=@figure.name %></h2>
<form method="POST" action="/figures/<%= @figure.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for "figure_name">Name:</label>
  <input type="text"
  name="figure[name]"
  id="figure_name"
  value="<%= @figure.name %>"
  >
  <br>
  <h3>Titles</h3>
  <p>Choose an existing title</p>
  <% @titles.each do |title| %>
    <input
    type="checkbox"
    id="title_<%= title.id %>"
    name="figure[title_ids][]"
    value="<%= title.id %>"
    <%='checked' if @figure.titles.include?(title) %>>
    ><%= title.name %>
    <br>
  <% end %>
  <br>
  <h3>OR create a New Title</h3>
  <input type="text" name="title[name]" id="new_title">
  <br>
  <h3>Landmarks</h3>
  <% @landmarks.each do |landmark| %>
    <input
    type="checkbox"
    id="landmark_<%= landmark.id %>"
    name="figure[landmark_ids][]"
    value="<%= landmark.id %>"
    <%='checked' if @figure.landmarks.include?(landmark) %>>
    ><%= landmark.name %>
    <br>
    <% end %>
  <h3>Or create a New Landmark:</h3>
  <input type="text" name="landmark[name]" id="new_landmark">
  <input type="text" name="year" id="year">
  <br>
  <input type="submit" value="Edit Figure">
</form>
<br>
