<h2>Add a Historical Figure</h2>
<p>views/figures/new.erb</p>
<a class="button" href="/">Home</a>
<hr>
<br>

<form method="POST" action="/figures">
  <label for "figure_name">Figure Name:</label>
  <input type="text" name="figure[name]" id="figure_name">
  <br>
  <h3>Titles</h3>
  <% @titles.each do |title| %>
    <input
    type="checkbox"
    name="figure[title_ids][]"
    value="<%= title.id %>"
    id="title_<%= title.id %>"
    >
    <%= title.name %>
    <br>
  <% end %>
  <br>
  <h3>Create a New Title</h3>
  <label>Title</label><input type="text" name="title[name]" id="new_title">
  <br>

  <h3>Landmarks</h3>
  <% @landmarks.each do |landmark| %>
    <input
    type="checkbox"
    name="figure[landmark_ids][]"
    value="<%= landmark.id %>"
    id="landmark_<%= landmark.id %>"
    >
    <%= landmark.name %>
    <br>
    <% end %>
  <h3>Create a New Landmark:</h3>
  <label for "name">Name:</label><input type="text" name="landmark[name]" id="new_landmark">
  <label for "year">Year:</label><input type="text" name="year" id="year">
  <input type="submit" value="Create New Figure">
</form>
<br>
